name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      # Runs a single command using the runners shell
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.1

      - name: Install deps
        run: forge install

      # This is required separately from yarn test because it generates the typechain definitions
      - name: Compile
        run: yarn compile

      - name: Run unit tests
        run: yarn test --parallel
        env: 
          BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
  test:
    name: Foundry Unit Tests
    runs-on: blacksmith-4vcpu-ubuntu-2404

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-node@v4
      - name: Install dev dependencies
        run: yarn install

      # Runs a single command using the runners shell
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.1

      - name: Install deps
        run: forge install

      - name: Run tests
        run: OUTPUT_FILENAME=Base.json CONSTANTS_FILENAME=Base.json forge test -vvv
        env: 
          BASE_RPC_URL: ${{ secrets.BASE_RPC_URL }}
          PRIVATE_KEY_DEPLOY: ${{ secrets.PRIVATE_KEY_DEPLOY }}